.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 20em;
    background-color: var(--preto);
}

@media (max-width: 1440px) {
    .cabecalho{
        padding: 1.1em 2em;
    }
  }

  @media (max-width: 440px) {
    .cabecalho{
       flex-direction: column;
       gap: 20px;
    }
  }